
.logo{
    height: 30px;
    width: 120px;
    padding: 15px 20px 10px 20px;
    box-sizing: content-box;
}
.logo img{
    width: 120px;
    height: 30px;
}
Header{
    display: flex;
    justify-content: flex-end;
}
.ant-dropdown-link{
    margin-right: 40px;
}